.display {

    width: 80%;
    max-width: $display-max-width;
    min-height: 90vh;
    margin: 0 auto;
    background-color: $color-white;
    
    display: flex;
    flex-direction: column;
    background-color: $color-grey-light-1;
    box-shadow: 0 2rem 6rem rgba($color-black, .4);

    margin-top: 5rem;

    &__header {
        text-align: center;
        padding: 1.5rem 0;
        background-color: $color-white;
        border-bottom: 1px solid $color-grey-light-3;

        & h2 {
            float: left;
            padding: 1rem 0 1rem 10rem;
        }
    }

    &__header-icons {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 5rem;

        & li {
            margin: 0 1rem;
        }
        
    }

    &__body {
        padding: 3rem 5rem;
        margin-bottom: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }


    &__date-box {
        margin-bottom: 2rem;
        width: 100%;
        background-color: $color-white;
        box-shadow: $shadow-very-light;

        flex: 0 0 32%;
        display: flex;
        flex-direction: column;

        &:not(:nth-of-type(3n)) {
            margin-right: 2%;
        }

        position: relative;
        overflow: hidden;
        transform: scale(1);

        /****************** out line effect*********************/
        // transition: transform .2s,
        //             outline .1s .2s ease-in,
        //             outline-offset .1s .2s;
        // &:hover {
        //     outline-offset: 1rem;
        //     outline: 1rem solid rgba($color-secondary, .4);
        //     transform: scale(1.1);
        //     z-index: 100;
        // }

        transition: color .2s .1s,
                    box-shadow .3s .1s,
                    transform .3s .1s;

        &::after {
            content: '';
            position: absolute;
            top:0;
            left: 0;
            height: 100%;
            width: .5rem;
            transform: scaleY(0);
            background: $gradient;

            transition: transform .1s,
                        width .15s .1s ease-in-out;
        }

        &:hover {
            color: $color-grey-light-1;
            box-shadow: $shadow;
            transform: translateY(-.3rem);
        }

        &:hover::after {
            transform: scaleY(1);
            width: 100%;
            z-index: -1;
        }



    }
    &__date {
        padding: .5rem 1rem;
    }

    &__name-list {
    }

    &__name-item {
        cursor: pointer;
        padding: 1rem;
    }

    &__footer {
        background-color: $color-white;
        padding: 3rem 0;
        border-top: 1px solid $color-grey-light-3;
    }
}
