.icon {
    background-color: rgba($color-black, .3);
    color: white;
    display: flex;
    position: relative;
    font-size: 1.6rem;
    cursor: pointer;

    @include circleMiddle;

    &:hover {
        background: $gradient-light;
    }


    & * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $circle-size;
        height: $circle-size;
        position: relative;
        z-index: 1;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: rgba($color-black, .3);
            opacity: 1;
            transition: all .2s ease-out;
            transform: scale(1);

            @include circleMiddle;
        }

        &:hover::after {
            transform: scale(2);
            opacity: 0;
        }
    }

}

.icon-checkbox{
    opacity: 0;
    position: absolute;

    & + .icon {
        transition: width .3s .3s cubic-bezier(.7,-0.01,.4,1.7);

        & * {
            transition: transform .2s;
        }
    }

    &:checked + .icon {
        background: $gradient-light;
        width: 30rem;
        justify-content: flex-start;

        & * {
            transform: rotate(360deg);

            &::after {
                background: $gradient;
            }
        }

    }

    
}