/*
.search {
    
    max-width: $display-max-width;
    text-align: center;

    // margin-top: 9rem;

    &__box {
        position: relative;
        padding: 1rem 5rem;

        &--month {

            & label {
                // animation for month number clicked
                @include uTriggeredAnimation(.2s) {
                    transform: scale(1.2);
                    color: $color-black;
    
                    &::after {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }

        &--character {
            text-align: start;
        }

        // serach box style before animation
        & > .u-target {
            opacity: 0;
            transform-origin: left bottom;
            transform: translate(-50%, -80%) scale(0) rotate(-30deg);
        }

        // animtion to show search box
        @include uTriggeredAnimation(.5s cubic-bezier(.73,.33,.18,1.25)) {
            opacity: 1;
            transform: translate(0) scale(1) rotate(0);
        }
    }


    &__wrap {
        background-image: $gradient-light;
        padding: 1.5rem 3.5rem;
        box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
        border-radius: 10rem;
    }

    &__month-number {
        display: inline-block;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        transition: all .3s;
        cursor: pointer;
        color: rgba($color-black, .7);
        position: relative;

        &:hover {
            transform: scale(1.2);
            color: rgba($color-black, 1);
        }

        &:active {
            transform: scale(1.8) rotate(40deg);
        }

        &::after {
            content: '';
            display: inline-block;
            border-radius: 50%;
            width: 3.5rem;
            height: 3.5rem;
            line-height: 3.5rem;
            transition: all .3s;
            position: absolute;
            top: 0;
            right: 0;
            border: 1px solid gray;
            opacity: 0;
            transform: scale(0);
        }
    }


    &__input {
        padding: 2rem 1rem;
        height: 3rem;
        width: 5rem;

        &--date {
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &--name {
            width: 43rem;
            margin-left: 3rem;
        }
    }

    // pre animation setting
    & > .u-target {
        opacity: 0;
        height: 0;
        transform: translateY(-10rem);
    }

    // animation for search box to show
    @include uTriggeredAnimation(.3s) {
        opacity: 1;
        height: 8rem;
        transform: translateY(0);
    }
}

*/


.search {

    position: relative;
    
    &__box {
        position: absolute;
        top: 0;
        left: 0;

        &--character {
        }

        // serach box style before animation
        & > .u-target {
            opacity: 0;
            transform: scale(.9);
            visibility: hidden;
        }

        // animtion to show search box
        @include uTriggeredAnimation(.3s .5s cubic-bezier(.7,-0.01,.26,1.75)) {
            opacity: 1;
            transform: scale(1);
            visibility: visible;
        }
    }

    &__wrap {
        // border: 1px solid grey;
        height: $circle-size;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: $circle-size;
        padding-right: calc(#{$circle-size} * .5);
        border-radius: 100px;
        width: $search-box-width;
    }

    &__month-number {
        position: relative;
        display: inline-block;
        
        &:hover {
            transform: scale(1.2);
            color: rgba($color-black, 1);
        }

        &:active {
            transform: scale(1.8) rotate(40deg);
        }

        /* pre animation setting */
        transform: scale(1);
        font-size: $font-size-small;
        color: $color-grey-dark-2;
    }

    // month number animation
    &__box--month label {
        @include uTriggeredAnimation(.2s) {
            transform: scale(1.2);
            font-weight: bold;
            @include textClip($gradient);
        }
    }


    &__input {
        height: calc(#{$circle-size} * .6);
        padding-left: 1rem;
        border-radius: 3px;
        font-size: $font-size-small;
        
        &--date {
            flex-grow: 1;
            flex-basis: 6rem;
            margin: 0 1rem;
            text-align: center;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &--name {
            flex-grow: 5;
        }
    }

    // pre animation setting
    & > .u-target {
    }

    // animation for search box to show
    @include uTriggeredAnimation(.3s) {
    }
}