.search {
    
    max-width: $display-max-width;
    text-align: center;

    // margin-top: 9rem;

    &__box {
        position: relative;
        padding: 1rem 5rem;

        &--month {

            & label {
                // animation for month number clicked
                @include uTriggeredAnimation(.2s) {
                    transform: scale(1.2);
                    color: $color-black;
    
                    &::after {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }

        &--character {
            text-align: start;
        }

        // serach box style before animation
        & > .u-target {
            opacity: 0;
            transform-origin: left bottom;
            transform: translate(-50%, -80%) scale(0) rotate(-30deg);
        }

        // animtion to show search box
        @include uTriggeredAnimation(.5s cubic-bezier(.73,.33,.18,1.25)) {
            opacity: 1;
            transform: translate(0) scale(1) rotate(0);
        }
    }


    &__wrap {
        background-image: $gradient-light;
        padding: 1.5rem 3.5rem;
        box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
        border-radius: 10rem;
    }

    &__month-number {
        display: inline-block;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        transition: all .3s;
        cursor: pointer;
        color: rgba($color-black, .7);
        position: relative;

        &:hover {
            transform: scale(1.2);
            color: rgba($color-black, 1);
        }

        &:active {
            transform: scale(1.8) rotate(40deg);
        }

        &::after {
            content: '';
            display: inline-block;
            border-radius: 50%;
            width: 3.5rem;
            height: 3.5rem;
            line-height: 3.5rem;
            transition: all .3s;
            position: absolute;
            top: 0;
            right: 0;
            border: 1px solid gray;
            opacity: 0;
            transform: scale(0);
        }
    }


    &__input {
        padding: 2rem 1rem;
        height: 3rem;
        width: 5rem;

        &--date {
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &--name {
            width: 43rem;
            margin-left: 3rem;
        }
    }

    // pre animation setting
    & > .u-target {
        opacity: 0;
        height: 0;
        transform: translateY(-10rem);
    }

    // animation for search box to show
    @include uTriggeredAnimation(.3s) {
        opacity: 1;
        height: 8rem;
        transform: translateY(0);
    }


}