.character-detail {
    position: relative;

    &__item {
        padding: .5em 1rem;
        margin-top: 1.5rem;

        &--memos ul{
            padding-left: 3rem;
            list-style: circle;

            & li {
                padding: 1rem;
            }
        }
    }

    &__item-name {
        display: inline-block;
        width: 12rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        background: $gradient;
        border-radius: 3px;
        color: transparent;
        font-weight: bold;
        -webkit-background-clip: text;
        background-clip: text;

    }

    &__item-content {
        display: inline-block;
        font-size: 2rem;
        font-weight: lighter;
    }

    &__button-wrap {
        position: absolute;
        top: 0;
        right: 1rem;
    }

    &__button {
        display: inline-block;
        border: 1px solid $color-gray;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        position: relative;
        margin-right: .5rem;
        color: $color-black;
        transition: all .3s;

        @include buttonAnimation;

        & i {
            font-size: 2rem;
            @include absCenter;
        }
    }
}