@keyframes centerScaleIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
    visibility: hidden; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible; } }

@keyframes centerScaleOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible; }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
    visibility: hidden; } }

@keyframes closeMemoForm {
  0% {
    padding: 4rem 3rem 2rem 3rem;
    opacity: 1;
    visibility: visible;
    height: auto; }
  20% {
    opacity: 0;
    visibility: hidden; }
  100% {
    height: 0;
    margin: 0;
    padding: 0; } }

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: linear-gradient(to right bottom, #ff8181, #8181ff);
  color: #333;
  min-height: 100vh; }

ul {
  list-style: none; }

a:link,
a:visited {
  text-decoration: none; }

input {
  outline: none;
  letter-spacing: .5rem;
  font-size: inherit;
  border-radius: 5px;
  border: none; }

button {
  outline: none;
  cursor: pointer; }

body {
  font-size: 1.6rem; }

.u-trigger {
  position: absolute;
  visibility: hidden; }

.u-margin-top-10 {
  margin-top: 10rem !important; }

.u-margin-top-20 {
  margin-top: 20rem !important; }

.u-white-space-pre {
  white-space: pre-wrap !important; }

.button {
  text-align: center;
  display: block;
  position: relative;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all .2s; }
  .button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .button--previous, .button--next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5); }
    .button--previous:hover, .button--next:hover {
      color: black; }
      .button--previous:hover i, .button--next:hover i {
        font-size: 3rem; }
    .button--previous:active i, .button--next:active i {
      font-size: 2.5rem; }
  .button--previous {
    left: 0; }
  .button--next {
    right: 0; }
  .button--submit {
    background-color: white;
    height: 5rem;
    width: 20rem;
    border-radius: 5px; }
  .button--open-modal, .button--create-memo {
    width: 20rem;
    height: 5rem;
    border-radius: 100px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(to right bottom, #ffcece, #ceceff);
    position: relative; }
    .button--open-modal:hover, .button--create-memo:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
    .button--open-modal:active, .button--create-memo:active {
      transform: translateY(0);
      box-shadow: none; }
    .button--open-modal::after, .button--create-memo::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to right bottom, #ffcece, #ceceff);
      width: 20rem;
      height: 5rem;
      border-radius: 100px;
      z-index: -1;
      opacity: 1;
      transform: scale(1);
      transition: all .3s; }
    .button--open-modal:hover::after, .button--create-memo:hover::after {
      opacity: 0;
      transform: scale(1.5); }

.character-form {
  text-align: center;
  padding: 3rem 0; }
  .character-form__group {
    position: relative; }
    .character-form__group--name {
      transform: translateY(3rem); }
    .character-form__group--date {
      border-bottom: 1px solid gray;
      padding: 1.5rem;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 7rem;
      margin-top: 2rem; }
  .character-form__name {
    padding: 2rem 2rem;
    width: 80%;
    background-color: black;
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
    transition: all .2s;
    text-align: center; }
    .character-form__name:focus {
      border-bottom: 3px solid #8181ff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
      .character-form__name:focus:invalid {
        border-bottom: 3px solid #ff8181; }
    .character-form__name:placeholder-shown + label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-5rem); }
    .character-form__name + label {
      display: block;
      width: 80%;
      margin: 1rem auto;
      text-align: center;
      transition: all .2s;
      opacity: 1;
      visibility: visible;
      transform: translateY(-11rem);
      color: gray;
      letter-spacing: .4rem; }
  .character-form__select-wrapper {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 3rem; }
    .character-form__select-wrapper:nth-child(1) {
      text-align: right; }
    .character-form__select-wrapper:nth-child(2) {
      text-align: left; }
  .character-form__selected-number {
    display: inline-block;
    width: 100%;
    letter-spacing: 1rem;
    font-weight: bolder;
    font-size: 2rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right bottom, #ff8181, #8181ff);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; }
  .character-form__month, .character-form__date {
    width: 6rem;
    height: 3rem;
    background-color: transparent;
    font-size: 0;
    outline: none;
    border: none;
    cursor: pointer; }
  .character-form__button {
    display: block;
    margin: 0 auto; }

.confirmation {
  text-align: center; }
  .confirmation__description {
    margin-top: 2rem;
    font-size: 2rem;
    color: gray; }
  .confirmation__button-box {
    padding: 2rem; }
  .confirmation__button {
    width: 13rem;
    height: 5rem;
    font-size: 1.6rem;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    transition: all .3s; }
    .confirmation__button:not(:last-child) {
      margin-right: 3rem; }
    .confirmation__button--yes {
      background: linear-gradient(to right bottom, #ff8181, #fa3d3d);
      color: white; }
    .confirmation__button--no {
      background: linear-gradient(to right bottom, #8181ff, #3d3dff);
      color: white; }
    .confirmation__button:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
    .confirmation__button:active {
      transform: translateY(0);
      box-shadow: none; }

@media only screen and (max-width: 56.25em) {
  .date-form {
    padding-top: 3rem; } }

.date-form__month {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .date-form__month {
      padding-bottom: 4rem; } }
  .date-form__month::after {
    content: 'Month';
    height: 3rem;
    width: 100%;
    position: absolute;
    top: -3.5rem;
    text-align: center;
    letter-spacing: 1rem;
    color: gray;
    color: gray;
    letter-spacing: .4rem; }
    @media only screen and (max-width: 56.25em) {
      .date-form__month::after {
        top: -5.5rem; } }

.date-form__month-number {
  cursor: pointer;
  position: relative;
  width: 2rem; }
  .date-form__month-number::after {
    content: '';
    background-image: linear-gradient(to right bottom, #fa3d3d, #3d3dff);
    border-radius: 2rem;
    position: absolute;
    left: -20%;
    top: -10%;
    width: 3rem;
    height: 3rem;
    opacity: 0;
    transform: scale(0.5);
    transition: all .2s;
    backface-visibility: hidden;
    z-index: -1; }
  .date-form__month-number.clicked {
    color: white; }
  .date-form__month-number.clicked::after {
    opacity: 1;
    transform: scale(1);
    transition: all .2s; }

.date-form__date {
  border: 1px solid gray;
  width: 80%;
  margin: 5.5rem auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  border-radius: 3px;
  position: relative; }
  .date-form__date::after {
    content: 'Date';
    height: 3rem;
    width: 100%;
    position: absolute;
    top: -3.5rem;
    text-align: center;
    letter-spacing: 1rem;
    color: gray;
    transform: translateX(-2rem);
    color: gray;
    letter-spacing: .4rem; }
    @media only screen and (max-width: 56.25em) {
      .date-form__date::after {
        top: -5.5rem; } }

.date-form__date-number {
  width: 2rem;
  margin: .5rem 1.18rem;
  cursor: pointer;
  position: relative; }
  .date-form__date-number::after {
    content: '';
    background-image: linear-gradient(to right bottom, #fa3d3d, #3d3dff);
    border-radius: 2rem;
    position: absolute;
    left: -20%;
    top: -10%;
    width: 3rem;
    height: 3rem;
    opacity: 0;
    transform: scale(0.5);
    transition: all .2s;
    backface-visibility: hidden;
    z-index: -1; }
  .date-form__date-number.clicked {
    color: white; }
  .date-form__date-number.clicked::after {
    opacity: 1;
    transform: scale(1);
    transition: all .2s; }

.display {
  width: 80%;
  max-width: 120rem;
  min-height: 90vh;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  background-color: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.4);
  margin-top: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .display {
      width: 100%;
      min-height: 100vh;
      margin: 0; } }
  .display__header {
    padding: 2rem 2em 2rem 10rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #f0eeee; }
    @media only screen and (max-width: 56.25em) {
      .display__header {
        position: relative; } }
  .display__header-icons {
    display: flex; }
    @media only screen and (max-width: 75em) {
      .display__header-icons {
        position: relative; } }
    .display__header-icons li {
      margin: 0 1rem; }
      @media only screen and (max-width: 75em) {
        .display__header-icons li:nth-child(1) {
          position: absolute;
          right: 5.5rem;
          z-index: 1; } }
      @media only screen and (max-width: 56.25em) {
        .display__header-icons li:nth-child(1) {
          position: fixed;
          bottom: 18rem;
          right: 1vw;
          z-index: 1; } }
      @media only screen and (max-width: 75em) {
        .display__header-icons li:nth-child(2) {
          position: absolute;
          right: 0;
          z-index: 2; } }
      @media only screen and (max-width: 56.25em) {
        .display__header-icons li:nth-child(2) {
          position: fixed;
          bottom: 10rem;
          right: 1vw;
          z-index: 1; } }
  .display__body {
    padding: 3rem 5rem;
    margin-bottom: auto;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    grid-gap: 2rem; }
  .display__date-box {
    background-color: white;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    transform: scale(1);
    /****************** out line effect*********************/
    transition: color .2s .1s, box-shadow .3s .1s, transform .3s .1s; }
    .display__date-box::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: .5rem;
      transform: scaleY(0);
      background: linear-gradient(to right bottom, #ff8181, #8181ff);
      transition: transform .1s, width .15s .1s ease-in-out; }
    .display__date-box:hover {
      color: #faf9f9;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
      transform: translateY(-0.3rem); }
    .display__date-box:hover::after {
      transform: scaleY(1);
      width: 100%;
      z-index: -1; }
  .display__date {
    padding: .5rem 1rem; }
  .display__name-item {
    cursor: pointer;
    padding: 1rem; }
  .display__footer {
    background-color: white;
    padding: 2rem 0;
    border-top: 1px solid #f0eeee; }

.icon {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100px; }
  @media only screen and (max-width: 56.25em) {
    .icon {
      width: 7rem;
      height: 7rem;
      border-radius: 100px; } }
  .icon:hover {
    background: linear-gradient(to right bottom, #ffcece, #ceceff); }
  .icon * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 56.25em) {
      .icon * {
        width: 7rem;
        height: 7rem; } }
    .icon *::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 1;
      transition: all .2s ease-out;
      transform: scale(1);
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 100px; }
      @media only screen and (max-width: 56.25em) {
        .icon *::after {
          width: 7rem;
          height: 7rem;
          border-radius: 100px; } }
    .icon *:hover::after {
      transform: scale(2);
      opacity: 0; }

.icon-checkbox {
  opacity: 0;
  position: absolute; }
  .icon-checkbox + .icon {
    /* animation to widen search box area*/
    transition: width 0.25s 0.15s cubic-bezier(0.7, -0.01, 0.4, 1.3); }
    .icon-checkbox + .icon * {
      /* animation to rotate icon */
      transition: transform .15s; }
  .icon-checkbox:checked + .icon {
    background: linear-gradient(to right bottom, #ffcece, #ceceff);
    width: 37rem;
    justify-content: flex-start; }
    @media only screen and (max-width: 56.25em) {
      .icon-checkbox:checked + .icon {
        width: 96vw; } }
    .icon-checkbox:checked + .icon * {
      transform: rotate(360deg); }
      .icon-checkbox:checked + .icon *::after {
        background: linear-gradient(to right bottom, #ff8181, #8181ff); }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99999; }
  .modal[data-status="open"] {
    visibility: visible; }
    .modal[data-status="open"] .modal__container {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1); }
  .modal[data-status="close"] {
    visibility: hidden; }
    .modal[data-status="close"] .modal__container {
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.7); }
  .modal__background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); }
    .modal__background--dark {
      background-color: rgba(0, 0, 0, 0.8); }
  .modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all .3s;
    width: 80%;
    max-width: 70rem;
    padding: 3rem 5rem;
    border-radius: 5px;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
    height: 90vh;
    overflow-y: scroll; }
    @media only screen and (max-width: 56.25em) {
      .modal__container {
        width: 100vw;
        max-width: 100vw;
        height: 100vh; } }
    @media only screen and (max-width: 37.5em) {
      .modal__container {
        padding: 1rem 0; } }
    .modal__container--confirmation {
      padding: 2rem;
      min-width: 45rem;
      width: 50%;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.5); }

.search {
  position: relative; }
  .search__box {
    position: absolute;
    top: 0;
    left: 0; }
    .search__box > .u-target {
      opacity: 0;
      transform: scale(0.9);
      visibility: hidden; }
    .search__box > .u-trigger + .u-target {
      transition: all 0.3s 0.3s cubic-bezier(0.7, -0.01, 0.26, 1.75); }
    .search__box > .u-trigger:checked + .u-target {
      opacity: 1;
      transform: scale(1);
      visibility: visible; }
  .search__wrap {
    height: 4.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 4.5rem;
    padding-right: calc(4.5rem * .5);
    border-radius: 100px;
    width: 37rem; }
    @media only screen and (max-width: 56.25em) {
      .search__wrap {
        height: 7rem;
        padding-left: 7rem;
        padding-right: calc(7rem * .5);
        width: 96vw; } }
  .search__month-number {
    position: relative;
    display: inline-block;
    /* month number pre animation setting */
    transform: scale(1);
    font-size: 1.3rem;
    color: #777; }
    .search__month-number:hover {
      transform: scale(1.2);
      color: black; }
    .search__month-number:active {
      transform: scale(1.8) rotate(40deg); }
  .search__box--month label > .u-trigger + .u-target {
    transition: all 0.2s; }
  .search__box--month label > .u-trigger:checked + .u-target {
    transform: scale(1.2);
    font-weight: bold;
    background: linear-gradient(to right bottom, #ff8181, #8181ff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; }
  .search__input {
    height: calc(4.5rem * .6);
    padding-left: 1rem;
    border-radius: 3px;
    font-size: 1.3rem; }
    @media only screen and (max-width: 56.25em) {
      .search__input {
        height: calc(7rem * .6); } }
    .search__input--date {
      flex-grow: 1;
      flex-basis: 6rem;
      margin: 0 1rem;
      text-align: center; }
      .search__input--date::-webkit-inner-spin-button, .search__input--date::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    .search__input--name {
      flex-grow: 5; }
  .search > .u-trigger + .u-target {
    transition: all 0.3s; }

.character-detail {
  position: relative;
  /* icon to open modal or form*/
  /* textarea inside memo card*/ }
  .character-detail__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem; }
    .character-detail__item--date {
      width: 60%;
      margin: 0 auto;
      border-bottom: 1px solid #777;
      padding-bottom: 1.5rem; }
    .character-detail__item--memos {
      max-height: 60vh;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      border: 1px solid #999;
      padding: 2rem;
      border-radius: 5px;
      margin-top: 4rem;
      /* for open memo form button */
      position: relative; }
      .character-detail__item--memos ul {
        list-style: none;
        overflow: scroll;
        min-height: 30rem;
        padding: 3rem;
        background-color: #f4f2f2;
        border: 1px solid #f4f2f2;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-gap: 1.8rem; }
        .character-detail__item--memos ul li {
          padding: 1rem;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          background-color: white;
          position: relative;
          color: #595959;
          min-height: 10rem; }
          .character-detail__item--memos ul li:hover {
            color: #333; }
          .character-detail__item--memos ul li.empty-message {
            box-shadow: none;
            margin: 2rem 0;
            cursor: pointer;
            background-color: transparent;
            min-width: 100%;
            grid-column: 1 / -1;
            display: flex;
            align-items: center;
            justify-content: center; }
            .character-detail__item--memos ul li.empty-message:hover {
              background: linear-gradient(to right bottom, #ff8181, #8181ff);
              color: transparent;
              -webkit-background-clip: text;
              background-clip: text; }
  .character-detail__item-name {
    font-weight: bold;
    background: linear-gradient(to right bottom, #ff8181, #8181ff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    flex: 0 0 20%;
    display: flex;
    justify-content: center; }
    .character-detail__item-name--memo {
      flex-basis: 3rem;
      padding-bottom: 5rem; }
  .character-detail__item-content {
    font-weight: lighter;
    margin-left: 1rem; }
  .character-detail__memo-item {
    cursor: pointer;
    overflow-wrap: break-word;
    display: block; }
  .character-detail__button-wrap {
    position: absolute;
    top: -1rem;
    right: -2rem; }
  .character-detail__button {
    display: inline-block;
    border: 1px solid gray;
    position: relative;
    margin-right: .5rem;
    color: black;
    transition: all .3s;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100px; }
    .character-detail__button:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
    .character-detail__button:active {
      transform: translateY(0);
      box-shadow: none; }
    .character-detail__button--memo {
      position: absolute;
      top: 1rem;
      right: 2rem; }
    .character-detail__button i {
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .character-detail__textarea {
    width: 100%;
    height: 100%;
    min-height: 10rem;
    outline: none;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    padding: 1rem;
    border: 1px solid gray;
    position: relative;
    animation: fadeInFromBottom .5s;
    z-index: 101; }
  .character-detail__memo-edit-bg {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
    height: 30rem;
    transform: scale(10);
    z-index: 100; }

.memo-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 4rem 3rem 2rem 3rem;
  transition: all .3s;
  z-index: 1;
  /* background to close the create memo form */
  /* setting to open/close the create memo form */ }
  .memo-form__background {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; }
  .memo-form[data-status="open"] {
    opacity: 1;
    visibility: visible;
    height: auto; }
  .memo-form[data-status="close"] {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    animation: closeMemoForm .7s; }
  .memo-form__close {
    position: absolute;
    top: -3.3rem;
    right: -1rem;
    font-size: 2rem;
    color: gray;
    cursor: pointer; }
  .memo-form__textarea {
    width: 20rem;
    height: 10rem;
    resize: none;
    outline: none;
    border: none;
    padding: 1rem;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 1rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  .memo-form__button {
    border: 1px solid gray;
    width: 20rem;
    height: 4rem;
    border-radius: 3px; }
    .memo-form__button:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
    .memo-form__button:active {
      transform: translateY(0);
      box-shadow: none; }

.row {
  max-width: 140rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc(1 * calc((100% - 2rem * (2 - 1)) / 2) + 0rem); }
  .row .col-1-of-3 {
    width: calc(1 * calc((100% - 2rem * (3 - 1)) / 3) + 0rem); }
  .row .col-2-of-3 {
    width: calc(2 * calc((100% - 2rem * (3 - 1)) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc(1 * calc((100% - 2rem * (4 - 1)) / 4) + 0rem); }
  .row .col-2-of-4 {
    width: calc(2 * calc((100% - 2rem * (4 - 1)) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * calc((100% - 2rem * (4 - 1)) / 4) + 4rem); }
  .row .col-1-of-5 {
    width: calc(1 * calc((100% - 2rem * (5 - 1)) / 5) + 0rem); }
  .row .col-2-of-5 {
    width: calc(2 * calc((100% - 2rem * (5 - 1)) / 5) + 2rem); }
  .row .col-3-of-5 {
    width: calc(3 * calc((100% - 2rem * (5 - 1)) / 5) + 4rem); }
  .row .col-4-of-5 {
    width: calc(4 * calc((100% - 2rem * (5 - 1)) / 5) + 6rem); }
  .row .col-1-of-6 {
    width: calc(1 * calc((100% - 2rem * (6 - 1)) / 6) + 0rem); }
  .row .col-2-of-6 {
    width: calc(2 * calc((100% - 2rem * (6 - 1)) / 6) + 2rem); }
  .row .col-3-of-6 {
    width: calc(3 * calc((100% - 2rem * (6 - 1)) / 6) + 4rem); }
  .row .col-4-of-6 {
    width: calc(4 * calc((100% - 2rem * (6 - 1)) / 6) + 6rem); }
  .row .col-5-of-6 {
    width: calc(5 * calc((100% - 2rem * (6 - 1)) / 6) + 8rem); }
  .row .col-1-of-7 {
    width: calc(1 * calc((100% - 2rem * (7 - 1)) / 7) + 0rem); }
  .row .col-2-of-7 {
    width: calc(2 * calc((100% - 2rem * (7 - 1)) / 7) + 2rem); }
  .row .col-3-of-7 {
    width: calc(3 * calc((100% - 2rem * (7 - 1)) / 7) + 4rem); }
  .row .col-4-of-7 {
    width: calc(4 * calc((100% - 2rem * (7 - 1)) / 7) + 6rem); }
  .row .col-5-of-7 {
    width: calc(5 * calc((100% - 2rem * (7 - 1)) / 7) + 8rem); }
  .row .col-6-of-7 {
    width: calc(6 * calc((100% - 2rem * (7 - 1)) / 7) + 10rem); }
  .row .col-1-of-8 {
    width: calc(1 * calc((100% - 2rem * (8 - 1)) / 8) + 0rem); }
  .row .col-2-of-8 {
    width: calc(2 * calc((100% - 2rem * (8 - 1)) / 8) + 2rem); }
  .row .col-3-of-8 {
    width: calc(3 * calc((100% - 2rem * (8 - 1)) / 8) + 4rem); }
  .row .col-4-of-8 {
    width: calc(4 * calc((100% - 2rem * (8 - 1)) / 8) + 6rem); }
  .row .col-5-of-8 {
    width: calc(5 * calc((100% - 2rem * (8 - 1)) / 8) + 8rem); }
  .row .col-6-of-8 {
    width: calc(6 * calc((100% - 2rem * (8 - 1)) / 8) + 10rem); }
  .row .col-7-of-8 {
    width: calc(7 * calc((100% - 2rem * (8 - 1)) / 8) + 12rem); }
  .row .col-1-of-9 {
    width: calc(1 * calc((100% - 2rem * (9 - 1)) / 9) + 0rem); }
  .row .col-2-of-9 {
    width: calc(2 * calc((100% - 2rem * (9 - 1)) / 9) + 2rem); }
  .row .col-3-of-9 {
    width: calc(3 * calc((100% - 2rem * (9 - 1)) / 9) + 4rem); }
  .row .col-4-of-9 {
    width: calc(4 * calc((100% - 2rem * (9 - 1)) / 9) + 6rem); }
  .row .col-5-of-9 {
    width: calc(5 * calc((100% - 2rem * (9 - 1)) / 9) + 8rem); }
  .row .col-6-of-9 {
    width: calc(6 * calc((100% - 2rem * (9 - 1)) / 9) + 10rem); }
  .row .col-7-of-9 {
    width: calc(7 * calc((100% - 2rem * (9 - 1)) / 9) + 12rem); }
  .row .col-8-of-9 {
    width: calc(8 * calc((100% - 2rem * (9 - 1)) / 9) + 14rem); }
  .row .col-1-of-10 {
    width: calc(1 * calc((100% - 2rem * (10 - 1)) / 10) + 0rem); }
  .row .col-2-of-10 {
    width: calc(2 * calc((100% - 2rem * (10 - 1)) / 10) + 2rem); }
  .row .col-3-of-10 {
    width: calc(3 * calc((100% - 2rem * (10 - 1)) / 10) + 4rem); }
  .row .col-4-of-10 {
    width: calc(4 * calc((100% - 2rem * (10 - 1)) / 10) + 6rem); }
  .row .col-5-of-10 {
    width: calc(5 * calc((100% - 2rem * (10 - 1)) / 10) + 8rem); }
  .row .col-6-of-10 {
    width: calc(6 * calc((100% - 2rem * (10 - 1)) / 10) + 10rem); }
  .row .col-7-of-10 {
    width: calc(7 * calc((100% - 2rem * (10 - 1)) / 10) + 12rem); }
  .row .col-8-of-10 {
    width: calc(8 * calc((100% - 2rem * (10 - 1)) / 10) + 14rem); }
  .row .col-9-of-10 {
    width: calc(9 * calc((100% - 2rem * (10 - 1)) / 10) + 16rem); }
  .row .col-1-of-11 {
    width: calc(1 * calc((100% - 2rem * (11 - 1)) / 11) + 0rem); }
  .row .col-2-of-11 {
    width: calc(2 * calc((100% - 2rem * (11 - 1)) / 11) + 2rem); }
  .row .col-3-of-11 {
    width: calc(3 * calc((100% - 2rem * (11 - 1)) / 11) + 4rem); }
  .row .col-4-of-11 {
    width: calc(4 * calc((100% - 2rem * (11 - 1)) / 11) + 6rem); }
  .row .col-5-of-11 {
    width: calc(5 * calc((100% - 2rem * (11 - 1)) / 11) + 8rem); }
  .row .col-6-of-11 {
    width: calc(6 * calc((100% - 2rem * (11 - 1)) / 11) + 10rem); }
  .row .col-7-of-11 {
    width: calc(7 * calc((100% - 2rem * (11 - 1)) / 11) + 12rem); }
  .row .col-8-of-11 {
    width: calc(8 * calc((100% - 2rem * (11 - 1)) / 11) + 14rem); }
  .row .col-9-of-11 {
    width: calc(9 * calc((100% - 2rem * (11 - 1)) / 11) + 16rem); }
  .row .col-10-of-11 {
    width: calc(10 * calc((100% - 2rem * (11 - 1)) / 11) + 18rem); }
  .row .col-1-of-12 {
    width: calc(1 * calc((100% - 2rem * (12 - 1)) / 12) + 0rem); }
  .row .col-2-of-12 {
    width: calc(2 * calc((100% - 2rem * (12 - 1)) / 12) + 2rem); }
  .row .col-3-of-12 {
    width: calc(3 * calc((100% - 2rem * (12 - 1)) / 12) + 4rem); }
  .row .col-4-of-12 {
    width: calc(4 * calc((100% - 2rem * (12 - 1)) / 12) + 6rem); }
  .row .col-5-of-12 {
    width: calc(5 * calc((100% - 2rem * (12 - 1)) / 12) + 8rem); }
  .row .col-6-of-12 {
    width: calc(6 * calc((100% - 2rem * (12 - 1)) / 12) + 10rem); }
  .row .col-7-of-12 {
    width: calc(7 * calc((100% - 2rem * (12 - 1)) / 12) + 12rem); }
  .row .col-8-of-12 {
    width: calc(8 * calc((100% - 2rem * (12 - 1)) / 12) + 14rem); }
  .row .col-9-of-12 {
    width: calc(9 * calc((100% - 2rem * (12 - 1)) / 12) + 16rem); }
  .row .col-10-of-12 {
    width: calc(10 * calc((100% - 2rem * (12 - 1)) / 12) + 18rem); }
  .row .col-11-of-12 {
    width: calc(11 * calc((100% - 2rem * (12 - 1)) / 12) + 20rem); }
