// COLOR
$color-black: black;
$color-white: white;

// FONT
$default-font-size: 1.6rem;


// BOX SHADOW
$box-shadow-normal: 0 1px 1px rgba($color-black, .3);

//GRID
$grid-width: 140rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
$min-col-total-number: 2;
$max-col-total-number: 12;
